Repository Snowcone-Labs/iceblink, changes with the labels that .github/labeler.yml gives for each.
All labels: area: app, area: sync

ci: codeowners
  .github/CODEOWNERS
Labels: none

refactor(sync): use option instead of throwing when db row not found in codes
  sync/src/models/codes.rs
  sync/src/routes/v1/codes.rs
Labels: area: sync

tests(sync): delete account
  sync/tests/user.rs
Labels: area: sync

feat(sync): dockerfile
  sync/.dockerignore
  sync/Cargo.lock
  sync/Cargo.toml
  sync/Dockerfile
Labels: area: sync

chore(sync): bump deps
  sync/Cargo.lock
  sync/Cargo.toml
Labels: area: sync

feat(sync): attempt to achieve faster compiletime
  CONTRIBUTING.md
  sync/.cargo/config.toml
  sync/Cargo.toml
Labels: area: sync

ci(sync): rust nightly
  .github/workflows/sync-ci.yml
  CONTRIBUTING.md
Labels: none

revert(sync): remove cranelift
  .github/workflows/sync-ci.yml
  CONTRIBUTING.md
  sync/Cargo.toml
Labels: area: sync

ci(sync): add back nightly
  .github/workflows/sync-ci.yml
  CONTRIBUTING.md
Labels: none

tests(sync): refactor listing codes
  sync/tests/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

tests(sync): simplfy user deletion tests with code listing func
  sync/tests/user.rs
Labels: area: sync

tests(sync): swagger and openapi
  .gitignore
  CONTRIBUTING.md
  sync/src/lib.rs
  sync/tests/index.rs
  sync/tests/misc.rs
  sync/tests/user.rs
Labels: area: sync

chore(sync): clippy lints
  sync/src/auth.rs
  sync/src/routes/v1/users.rs
Labels: area: sync

refactor(sync): codes endpoints --> code
  sync/src/routes/v1/codes.rs
  sync/tests/auth.rs
  sync/tests/codes.rs
  sync/tests/common/mod.rs
  sync/tests/user.rs
Labels: area: sync

tests(sync): delete codes
  sync/tests/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

refactor(sync): typ → errorKind
  sync/src/routes/v1/mod.rs
  sync/tests/auth.rs
  sync/tests/codes.rs
Labels: area: sync

feat(sync): strict cors
  sync/.env.example
  sync/Cargo.toml
  sync/src/cli.rs
  sync/src/lib.rs
  sync/src/main.rs
  sync/tests/common/mod.rs
  sync/tests/misc.rs
Labels: area: sync

feat(sync): http compression
  sync/src/lib.rs
Labels: area: sync

tests(sync): landing page
  sync/tests/misc.rs
Labels: area: sync

fix(sync): edit code website double option
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/models/codes.rs
  sync/src/routes/v1/codes.rs
  sync/tests/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

feat(sync): delete icon_url on website_url update
  sync/src/models/codes.rs
  sync/tests/codes.rs
Labels: area: sync

fix(sync): update website_url in db
  sync/src/models/codes.rs
Labels: area: sync

tests(sync): code edit errors
  sync/tests/codes.rs
Labels: area: sync

tests(sync): test edit code content and displayname
  sync/tests/codes.rs
Labels: area: sync

feat(sync): swagger security and other openapi things
  sync/src/lib.rs
  sync/src/routes/v1/codes.rs
  sync/src/routes/v1/index.rs
  sync/src/routes/v1/users.rs
Labels: area: sync

feat(sync): user checksum
  sync/Cargo.lock
  sync/Cargo.toml
  sync/benches/user_checksum.rs
  sync/src/lib.rs
  sync/src/models/codes.rs
  sync/src/routes/v1/users.rs
  sync/src/utils.rs
  sync/tests/common/mod.rs
  sync/tests/user.rs
Labels: area: sync

tests(sync): func for adding code
  sync/tests/codes.rs
  sync/tests/common/mod.rs
  sync/tests/user.rs
Labels: area: sync

feat(sync): debug log if in development mode
  sync/src/auth.rs
  sync/src/lib.rs
  sync/src/main.rs
Labels: area: sync

feat(sync): custom json rejections
  CONTRIBUTING.md
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/routes/v1/codes.rs
  sync/src/routes/v1/mod.rs
  sync/src/routes/v1/users.rs
Labels: area: sync

test(sync): custom json rejection
  sync/tests/codes.rs
Labels: area: sync

feat(app): copy openid example
  app/app-example/scripts/reset-project.js
  app/app.json
  app/app/index.tsx
  app/constants/Colors.ts
  app/hooks/useColorScheme.ts
  app/hooks/useColorScheme.web.ts
  app/hooks/useThemeColor.ts
  app/package.json
  app/pnpm-lock.yaml
Labels: area: app

feat(app): tailwind using nativewind
  app/app/_layout.tsx
  app/app/index.tsx
  app/assets/global.css
  app/babel.config.js
  app/metro.config.js
  app/nativewind-env.d.ts
  app/package.json
  app/pnpm-lock.yaml
  app/tailwind.config.js
  app/tsconfig.json
Labels: area: app

refactor(app): move folders around
  app/app-example/app/(tabs)/_layout.tsx
  app/app-example/components/Collapsible.tsx
  app/app.json
  app/metro.config.js
  app/src/app/_layout.tsx
  app/src/app/index.tsx
  app/src/assets/fonts/SpaceMono-Regular.ttf
  app/src/assets/global.css
  app/src/assets/images/adaptive-icon.png
  app/src/assets/images/favicon.png
  app/src/assets/images/icon.png
  app/src/assets/images/partial-react-logo.png
  app/src/assets/images/react-logo.png
  app/src/assets/images/react-logo@2x.png
  app/src/assets/images/react-logo@3x.png
  app/src/assets/images/splash-icon.png
  app/src/components/TotpCard.tsx
  app/src/constants/Colors.ts
  app/src/hooks/useColorScheme.ts
  app/src/hooks/useColorScheme.web.ts
  app/src/hooks/useThemeColor.ts
  app/src/utils/padding.ts
  app/tailwind.config.js
  app/tsconfig.json
Labels: area: app

feat(sync): basic icon fetching using favicon
  .gitignore
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/icons.rs
  sync/src/lib.rs
  sync/src/routes/v1/codes.rs
  sync/src/utils.rs
Labels: area: sync

feat(app): 404
  app/package.json
  app/pnpm-lock.yaml
  app/src/app/(auth)/signin.tsx
  app/src/app/(auth)/unlock.tsx
  app/src/app/(dashboard)/home.tsx
  app/src/app/+not-found.tsx
  app/src/app/_layout.tsx
  app/src/components/Logo.tsx
  app/src/components/TextLogo.tsx
  app/src/components/ui/Button.tsx
  app/src/utils/padding.ts
Labels: area: app

feat: not found page slogans
  app/src/app/(dashboard)/home.tsx
  app/src/app/+not-found.tsx
  app/src/components/TotpCard.tsx
  app/src/constants/Colors.ts
  app/src/hooks/useColorScheme.ts
  app/src/hooks/useColorScheme.web.ts
  app/src/hooks/useThemeColor.ts
  app/src/utils.ts
  app/tailwind.config.js
Labels: area: app

feat: login page
  app/src/app/(auth)/_layout.tsx
  app/src/app/(auth)/signin.tsx
  app/src/app/+not-found.tsx
  app/src/app/index.tsx
  app/src/components/Logo.tsx
  app/src/components/ui/Button.tsx
Labels: area: app

feat(app): warmup browser before auth
  app/src/app/(auth)/signin.tsx
  app/src/app/(auth)/unlock.tsx
Labels: area: app

fix: warmup browser only on android
  app/src/app/(auth)/signin.tsx
Labels: area: app

feat: dotenv
  app/.env.example
  app/src/app/(auth)/signin.tsx
Labels: area: app

.github/labeler.yml:

"area: app":
  - changed-files:
      - any-glob-to-any-file: "app/**"

"area: sync":
  - changed-files:
      - any-glob-to-any-file: "sync/**"
