Repository Snowcone-Labs/iceblink, changes with the labels that .github/labeler.yml gives for each.
All labels: area: app, area: sync

refactor(app): eslint
  app/.eslintrc.js
  app/package.json
  app/pnpm-lock.yaml
  app/src/app/(auth)/signin.tsx
  app/src/app/+not-found.tsx
Labels: area: app

feat(app): settings gear on login page
  app/package.json
  app/pnpm-lock.yaml
  app/src/app/(auth)/signin.tsx
  app/src/app/+not-found.tsx
  app/src/components/ui/Button.tsx
Labels: area: app

feat(app): prevent screen capture
  app/app.json
  app/package.json
  app/pnpm-lock.yaml
  app/src/app/_layout.tsx
  app/src/components/ui/Button.tsx
Labels: area: app

feat(app): server settings page
  app/src/app/(auth)/server.tsx
  app/src/app/(auth)/signin.tsx
Labels: area: app

feat(app): chatgpt a input component
  app/src/app/(auth)/server.tsx
  app/src/components/ui/Input.tsx
Labels: area: app

feat(app): show warning if not on offical server
  app/src/app/(auth)/server.tsx
  app/src/components/ui/Input.tsx
  app/src/components/ui/Tip.tsx
Labels: area: app

chore(sync): update deps
  sync/Cargo.lock
  sync/Cargo.toml
Labels: area: sync

fix(sync): capitalize iceblink
  CONTRIBUTING.md
  sync/src/lib.rs
  sync/src/routes/v1/mod.rs
Labels: area: sync

refactor(sync): rustrover analysis
  .gitignore
  sync/src/icons.rs
  sync/src/routes/v1/users.rs
  sync/tests/auth.rs
  sync/tests/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

feat(sync): basic metrics exporter
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/lib.rs
  sync/src/routes/v1/misc.rs
  sync/src/routes/v1/mod.rs
Labels: area: sync

tests(sync): test metrics exporter
  sync/src/lib.rs
  sync/tests/common/mod.rs
  sync/tests/misc.rs
Labels: area: sync

docs: mention app
  README.md
Labels: none

docs: security.txt
  SECURITY.md
Labels: none

ci: dependabot
  .github/dependabot.yml
Labels: none

feat(sync): security.txt
  sync/src/static/.well-known/security.txt
Labels: area: sync

test(sync): security.txt expiry
  sync/tests/misc.rs
Labels: area: sync

test(sync): metadata version regex
  sync/tests/misc.rs
Labels: area: sync

feat(sync): seperate error for icon not found
  sync/src/routes/v1/codes.rs
  sync/src/routes/v1/mod.rs
  sync/src/utils.rs
  sync/tests/misc.rs
Labels: area: sync

fix(sync): catch directory exists error in icon store
  sync/src/icons.rs
  sync/src/lib.rs
  sync/src/routes/v1/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

feat(sync): customizable folder path
  sync/src/icons.rs
  sync/src/routes/v1/codes.rs
Labels: area: sync

chore(sync): bump bon
  sync/.env.example
  sync/Cargo.lock
  sync/Cargo.toml
  sync/tests/codes.rs
Labels: area: sync

tests(sync): basic icon tests
  sync/src/icons.rs
  sync/src/lib.rs
  sync/tests/codes.rs
  sync/tests/common/mod.rs
Labels: area: sync

refactor(sync): remove criterion
  sync/Cargo.lock
  sync/Cargo.toml
  sync/benches/user_checksum.rs
Labels: area: sync

chore: rebrand to Snowcone Labs
  README.md
  SECURITY.md
  app/app.json
  sync/Cargo.toml
  sync/src/lib.rs
  sync/src/static/.well-known/security.txt
  sync/src/utils.rs
  sync/tests/fixtures/users.sql
Labels: area: app, area: sync

chore(sync): update deps
  sync/Cargo.lock
  sync/Cargo.toml
Labels: area: sync

tests(sync): move to googletest
  sync/Cargo.lock
  sync/Cargo.toml
  sync/tests/auth.rs
  sync/tests/codes.rs
  sync/tests/misc.rs
  sync/tests/user.rs
Labels: area: sync

tests(sync): GoogleTest in unit tests, remove regex dep
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/routes/v1/mod.rs
  sync/src/utils.rs
Labels: area: sync

tests(sync): replace numberic status codes with enum
  sync/tests/auth.rs
Labels: area: sync

tests(sync): replace `#[test]` with `#[gtest]`
  CONTRIBUTING.md
  sync/src/routes/v1/mod.rs
  sync/src/utils.rs
Labels: area: sync

docs(app): add a tad more contribution.md
  CONTRIBUTING.md
  app/src/app/+not-found.tsx
Labels: area: app

tests(sync): simplify assertions using custom matchers
  README.md
  sync/src/models/codes.rs
  sync/tests/codes.rs
  sync/tests/common/matchers.rs
  sync/tests/common/mod.rs
  sync/tests/user.rs
Labels: area: sync

tests(sync): refactor code fixture matcher
  sync/tests/codes.rs
  sync/tests/common/matchers.rs
  sync/tests/misc.rs
  sync/tests/user.rs
Labels: area: sync

chore(sync): bump utoipa
  sync/Cargo.lock
  sync/Cargo.toml
Labels: area: sync

tests(sync): clearify matcher descriptions for SQLx fixture
  sync/tests/common/matchers.rs
Labels: area: sync

fix: remove old example app
  app/app-example/app/(tabs)/_layout.tsx
  app/app-example/app/(tabs)/explore.tsx
  app/app-example/app/(tabs)/index.tsx
  app/app-example/app/+not-found.tsx
  app/app-example/app/_layout.tsx
  app/app-example/components/Collapsible.tsx
  app/app-example/components/ExternalLink.tsx
  app/app-example/components/HapticTab.tsx
  app/app-example/components/HelloWave.tsx
  app/app-example/components/ParallaxScrollView.tsx
  app/app-example/components/ThemedText.tsx
  app/app-example/components/ThemedView.tsx
  app/app-example/components/__tests__/ThemedText-test.tsx
  app/app-example/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  app/app-example/components/ui/IconSymbol.ios.tsx
  app/app-example/components/ui/IconSymbol.tsx
  app/app-example/components/ui/TabBarBackground.ios.tsx
  app/app-example/components/ui/TabBarBackground.tsx
Labels: area: app

refactor: rewrite login page
  app/src/app/(auth)/_layout.tsx
  app/src/app/(auth)/signin.tsx
  app/src/assets/global.css
  app/src/components/Feature.tsx
  app/src/components/Logo.tsx
  app/tailwind.config.js
Labels: area: app

refactor: im done with this project
  app/app.json
  app/package.json
  app/pnpm-lock.yaml
  app/src/app/(auth)/signin.tsx
  app/src/components/Feature.tsx
  app/src/components/TextLogo.tsx
  app/src/components/ui/Button.tsx
  app/tailwind.config.js
Labels: area: app

fix(sync): bump deps + patch
  sync/Cargo.lock
  sync/Cargo.toml
  sync/src/lib.rs
Labels: area: sync

docs(sync): wrong env var for frontfacing
  sync/.env.example
Labels: area: sync

ci: disable dependabot
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

"area: app":
  - changed-files:
      - any-glob-to-any-file: "app/**"

"area: sync":
  - changed-files:
      - any-glob-to-any-file: "sync/**"
